{{- define "head.html" -}}
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
    background-color: white;
    width:96%;
    margin-left:auto;
    margin-right:auto;
}
img {
    vertical-align: baseline
}
div.center {
    text-align: center;
}
.small {
    background-color: white;
    color: #A0A0A0;
    font-weight: bold;
    font-size: xx-small;
}
</style>
<link
href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAA7DAAAOwwHHb6hkAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAcBJREFUOI2Nkj9rFFEUxX/3vZnNhsXCJAtmoyCEIG4lgqiksUm0shAE3QRBP4CthZ/BD2BjIa5FEBuRBItUNoqgBiIhCWKlIkLAuEF2Z+ZYzJ+MEwN7YLjvXs49c899D0lIIuxsnuH6ei3Ph/0cGRLTC1/zO8Hi1kqwsHWNIRGUzuNgo6DLGHvA87CzfRHHkajReK2Hk3uHCtittYanPlpUjSaAfHIXccP3dvthpzcfRfW38Mtrqf07p6YW4nCirGoizcVsVqrJxdN+pDfnw+BnsLD5qra4faEQCL1rlgUETbu5cRI4UdTkWibOYYxgzMmSK4UF5X/cx5h3/hJofyrTpHDTeU0JU8UE/xEwTFcrtSlMZ0uMsoAb4yDmK/l5lC7X4JOgVQg4DkwA0Mjijywey+JXYfeM8gSuLGA7FTOrFXfv4u7MS2Hf7faXenqN0niJ8fEfvlgl25zBBkoeScjEA/qDVpCRJrCiYx2YBUIgcc7W4kT3vWy53535kLPiweApYXg8yC2Y8omtJyVPZO59YtGz6PHpb8Cb6oK01O4Dn9OnnG03RTKIuqfuVBsOQwAQh7U2/d3UxODon2GbAf4CImS9eCEWOX8AAAAASUVORK5CYII="
rel="icon" type="image/png" sizes="16x16" />
{{ if .UsePagedJs -}}
<script src="https://unpkg.com/pagedjs/dist/paged.polyfill.js"></script>
{{- end }}
</head>
{{- end -}}